<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>App TicTacToe</title>
        <link href ="css/styles.css" rel ="stylesheet">
    </head>

    <header>
            <h1>Wellcome To TicTacToe</h1>
    </header>

    <body>
        <!-- <div id='board'> -->
        <ul>
            <li class="bold"><h3>Human Section</h3></li>
            <li><a href="/playervsplayer">Player vs Player</a></li>
            <li><a href="/playervsseq">Player vs Easy</a></li>
            <li><a href="/playervsrandom">Player vs Medium</a></li>
            <li><a href="/playervsunbeatable">Player vs Hard</a></li>
            <li class="bold"><h3>Play Again</h3></li>
            <li><a href="/"><h3>Reset</h3></a></li>
        </ul>
        <div class="footer">TTTBoard.org</div>
        </div>
        </div>
            <%= yield %>
        </div>
        </div>
    </body>
</html>