<!DOCTYPE html>
    <html lang='en'>
        <head>
            <title>Teela Tictactoe</title>
            <link rel="shortcut icon" href="img/tela.PNG" />
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href ="css/styles.css" rel ="stylesheet">
            <!--font awesome cdnlink-->
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <!--wow.js cdn link-->
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="    sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!--animate.css-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
           <!--  Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="    sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            </head>
        <body>
         <!--Header -->
            <div id="header" class="header">
                <div class="container">
                    <div class="row">
                        <h1 class ="topic">Wellcome To TicTacToe</h1><hr>
                    </div>
                </div>
        <!--End Header -->
            <div class="rules" id="rules">
              <ul class="list-inline">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="The object of Tic Tac Toe is to get three in a row. You play on a three by three game board. The first player is known as X and the second is O. Players alternate placing Xs and Os on the game board until either oppent has three in a row or all nine squares are filled. X always goes first, and in the event that no one has three in a row, the stalemate is called a cat game.">Game Rules</a>
            </ul>
         </div>
         </div>
            <div id="options" class="options">
                <div class="container">
                    <div>
                        <%= yield %>
                    </div>
                    <hr>
                    <div class="select">
                        <h3>Select to Play</h3>
                        <ul class="list-group">
                            <li><a id ="pp" class="list-group-item list-group-item-warning" href="/playervsplayer">Player vs Player</a></li>
                            <li><a id ="ps" class="list-group-item list-group-item-success" href="/playervsseq">Player vs Easy</a></li>
                            <li><a id ="pr" class="list-group-item list-group-item-info" href="/playervsrandom">Player vs Medium</a></li>
                            <li><a id ="pu" class="list-group-item list-group-item-danger" href="/playervsunbeatable">Player vs Impossible</a></li>
                        </ul>
                        <a class="reset" href="/">Play Again</a>
                    </div>
                </div>
            </div>       

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
            <script src="js/wow.min.js"></script>
            <script>
                new WOW().init();
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();   
                });
            </script>
        </body>
    </html>