<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>App TicTacToe</title>
        <link href ="styles/styles.css" rel ="stylesheet">
    </head>

    <header>
            <h1>Wellcome To TicTacToe</h1>
    </header>

    <body>
        <div class='center'>
        <div id='board'>
        <ul>
            <li class="bold"><h3>Human Section</h3></li>
            <li><a href="/playervsplayer">Player vs Player</a></li>
            <li><a href="/playervsseq">Player vs Easy</a></li>
            <li><a href="/playervsrandom">Player vs Medium</a></li>
            <li><a href="/playervsunbeatable">Player vs Hard</a></li>
            <li class="bold">Play Again</li>
            <li><a href="/">Reset</a></li>
        </ul>
        </div>
        </div class="col-7 col-t12">
            <%= yield %>
        </div>
        </div>
    </body>
    <footer><center>TTTBoard.org</center></footer>
</html>