* {
	padding: 0;
	margin: 0;
}
body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
li {
	list-style: none;
	display: inline-block;
}
a {
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
a:hover,
a:active {
	text-decoration: none;
}
h1,
h4 {
	font-family: 'PT Sans Narrow', Aerial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
/*header*/
.header {
	position: relative;
	padding: 30px 0 30px;
	margin-top: 0px;
	color: #000;
	text-align: center;
}
/*table*/
.square {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 40px;
}
.v {
	border-left: 4px solid #000;
	border-right: 4px solid #000;
}
.h {
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
input::-moz-focus-inner {
  border: 0;
}
.tinput {
	background: rgba(0,0,0,0);
	outline: none;
	font-size: 40px;
	border: none;
}
.select {
	margin-top: 20px;
}
.reset {
	text-decoration: none;
	transition: all 500ms ease-in-out;
	border: 1px solid;
	padding: 5px;
	color: #000000;
	font-size: 18px;
}
.reset:hover {
	text-decoration: none;
	background: #000000;
	color: #ffffff;
}
.options li {
	padding: 5px;
}
/*rules*/
.rules a {
	color: #000000;
	text-decoration: none;
	border: 2px solid #000000;
	padding: 5px;
	font-size: 15px;
}
.rules a:hover,
a:active {
	text-decoration: none;
	color: #000000;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .tooltip {
        display: none !important;
    }
 }




