header {
	text-align: center;
}
body {
	text-align: center;
	margin: auto;
	font-family: 'menlo' sans-serif;
	background-color: powderblue;
}
.main_title {
	text-align: center;
	color: blue;
	margin-top: 40px;
}
#board {
	margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
}
.board-data {
	background-color: white;
	font-size: 30px;
    border: none;
}

form {
	text-align: center;
	display: inline-block;
	margin-top: 30px
}

footer {
	text-align: center;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 25px;
	background-color: grey;
}